$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 20px;
$font-xxl: 22px;
$font-xxxl: 24px;

$color-info: #909399;
$color-error: #f56c6c;
$color-border: #eee;

$bg-color-info: #f4f4f5;
$bg-color-error: #fef0f0;
$bg-color-table: #f5f7fa;
